@mixin button-decoration {
    color: white;
    margin-top: 10px;
    border-radius: 30px;
    height: 40px;
    font-size: 15px;
    border:0;
    cursor: pointer;
}

@mixin select {
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 26px;
    border: none;
}


@mixin select-effect {
    background-color: white;
    background: none;
    color: rgb(51, 51, 51);
    font-size: 15px;
    height: 30px;
    width: 40%;
    border: none;
    background-color: white;
    cursor: pointer;
}

.profile {
        width: 800px;
        height: 250px;
        background-image: url("../image/image3.jpg");
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center;
}

.person {
        margin: 0 auto;
        width: 130px;
        height: 130px;
        border: 2px solid white;
        background-color: black;
        border-radius: 50%;
        object-fit: cover;
        margin-top: -4rem;
        margin-bottom: 30px;
        i {
            font-size: 5rem;
            margin: 30px;
        }
}

label {	
    text-align: center;
    margin-bottom: 30px;
    float: right;
    color: black;
    background-color: $editBtn;
    padding: 10px;
    border-radius: 30px;
    width: 110px;
    font-size: 10px;
    border: none;
    cursor: pointer;
    input {
        display: none; 
    }
 }

.userinfo {
    border-bottom: 0.2px solid rgb(61, 61, 61);
}


.change {
    @include button-decoration();
    background-color: $editBtn;
    width: 75px;
    height: 30px;
    float: right;
    margin-right: 50px;
    font-size: 18px;
    &:focus {
        outline: none;
    }
}

.information {
    margin-top: 5rem;
    margin-left: 130px;
    font-size: 18px;
    input {
        color: white;
        font-size: 18px;
        letter-spacing: 1px;
        border: none;
        width: 30rem;
        height: 30px;
        margin-top: 10px;
        margin-left: 30px;
        background-color: black;
        border-bottom: 1px solid white;
        &:focus {
            outline: none;
        }
    }
    textarea {
        background-color: black;
        color: white;
        font-size: 16px;
        letter-spacing: 1px;
        margin-top: 30px;
        margin-left: 30px;
        &:focus {
            outline: none;
        }
    }
}


.gender {
    @include select();
    select {
        @include select-effect();
    }
}

.country {
    @include select();
    select {
        @include select-effect();
    }
}

.save {
    float: right;
}


