@charset "UTF-8";
.header {
  height: 50px;
  background: #2D2524;
  padding: 0 20px;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.content {
  height: 175vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15rem;
  color: white;
  overflow: hidden;
}

.logo {
  line-height: 50px;
  float: left;
  text-transform: uppercase;
}

.menu {
  float: right;
  line-height: 50px;
}

.menu a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.show-menu-btn, .hide-menu-btn {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.show-menu-btn {
  float: right;
}

.show-menu-btn i {
  line-height: 50px;
}

.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
  color: grey;
}

.paragrah {
  height: 50%;
  width: 30%;
  color: white;
  margin-left: 5em;
  margin-top: 7em;
  margin-bottom: 20em;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: justify;
}

#chk {
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

/*.content {
    padding: o 20px;

    img {
    width: 100%;
    max-width: 700px;
    margin: 20px 0;
    }
}*/
@media screen and (max-width: 800px) {
  .show-menu-btn, .hide-menu-btn {
    display: block;
  }
  .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    /*background: linear-gradient(to bottom right, #F9A4A4, #B225F8, #C00A90);*/
    background: rgba(0, 0, 0, 0.9);
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    -webkit-transition: 0.7s;
    transition: 0.7s;
  }
  .menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* 子要素をflexboxにより縦方向に揃える */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* 子要素をflexboxにより中央に配置する */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* 子要素をflexboxにより中央に配置する*/
  }
  .menu a {
    display: block;
    padding: 20px;
  }
  .hide-menu-btn {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #chk:checked ~ .menu {
    right: 0;
  }
}

.search {
  padding-top: 0em;
  margin-left: 24em;
}

.search_text {
  margin-top: 10px;
  margin-right: 10px;
  background-color: white;
  padding-left: 15px;
  border-radius: 100px;
  border: none;
  font-size: 16px;
  line-height: 30px;
  width: 24%;
  font-weight: 400;
  -webkit-transition: .1s;
  transition: .1s;
}

.search_text:focus {
  outline: none;
}

.search_date {
  background-color: white;
  margin-right: 15px;
  padding-left: 15px;
  border-radius: 100px;
  border: none;
  font-size: 15px;
  line-height: 25px;
  width: 15%;
  font-weight: 400;
}

.search_date:focus {
  outline: none;
}

.search-btn {
  margin-left: 10px;
  border-radius: 50%;
  height: 38px;
  width: 38px;
  background-color: white;
}

.search-btn:focus {
  outline: none;
}

.profile {
  width: 800px;
  height: 250px;
  background-image: url("../image/image3.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}

.person {
  margin: 0 auto;
  width: 130px;
  height: 130px;
  border: 2px solid white;
  background-color: black;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: -4rem;
  margin-bottom: 30px;
}

.person img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.userinfo {
  border-bottom: 0.2px solid #3d3d3d;
}

.change {
  color: white;
  margin-top: 10px;
  border-radius: 30px;
  height: 40px;
  font-size: 15px;
  border: 0;
  cursor: pointer;
  background-color: #0FCC41;
  width: 85px;
  height: 30px;
  float: right;
  margin-right: 50px;
  font-size: 18px;
}

.change a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

.information {
  margin-top: 5rem;
  margin-left: 130px;
  font-size: 18px;
}

.information p {
  color: white;
  font-size: 17px;
  letter-spacing: 1px;
  width: 30rem;
  height: 30px;
  margin-top: 10px;
  margin-left: 30px;
  border-bottom: 1px solid white;
}

.information input {
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  border: none;
  width: 30rem;
  height: 30px;
  margin-top: 10px;
  margin-left: 30px;
  background-color: black;
  border-bottom: 1px solid white;
}

.information input:focus {
  outline: none;
}

.information textarea {
  background-color: black;
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 30px;
  margin-left: 30px;
}

.information textarea:focus {
  outline: none;
}

.description {
  margin-left: 8rem;
  color: white;
  font-size: 15px;
  letter-spacing: 1px;
  width: 30rem;
  height: 30px;
  margin-top: 10px;
}

.description p {
  margin-top: 15px;
  margin-left: 1rem;
  letter-spacing: 1px;
}

.user-description {
  margin-bottom: 30px;
  font-size: 19px;
  letter-spacing: 2px;
}

.gender {
  margin-top: 15px;
  margin-bottom: 30px;
  margin-left: 26px;
  border: none;
}

.gender select {
  background-color: white;
  background: none;
  color: #333333;
  font-size: 15px;
  height: 30px;
  width: 40%;
  border: none;
  background-color: white;
  cursor: pointer;
}

.country {
  margin-top: 15px;
  margin-bottom: 30px;
  margin-left: 26px;
  border: none;
}

.country select {
  background-color: white;
  background: none;
  color: #333333;
  font-size: 15px;
  height: 30px;
  width: 40%;
  border: none;
  background-color: white;
  cursor: pointer;
}

.card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 40px;
}

.card-wrapper .event-info {
  color: white;
}

.card {
  margin-left: 4rem;
  border: 1px solid white;
  height: 187px;
  width: 280px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.event-name {
  font-size: 16px;
  color: white;
}

.event-date {
  font-size: 13px;
  color: #FD8700;
}

.event-info {
  font-size: 12px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  margin-left: 120px;
}

.seemore {
  background-color: #7206F7;
  color: white;
  width: 65px;
  margin-top: 10px;
  border-radius: 30px;
  height: 33px;
  font-size: 12px;
  border: 0;
  cursor: pointer;
}

.seemore:focus {
  outline: none;
}

.delete {
  background-color: #0FCC41;
  color: black;
  margin-left: 20px;
  width: 55px;
  margin-top: 10px;
  border-radius: 30px;
  height: 33px;
  font-size: 12px;
  border: 0;
  cursor: pointer;
}

.delete:focus {
  outline: none;
}

.save {
  background-color: #F70661;
  color: white;
  margin-left: 20px;
  width: 55px;
  margin-top: 10px;
  border-radius: 30px;
  height: 33px;
  font-size: 12px;
  border: 0;
  cursor: pointer;
}

.save:focus {
  outline: none;
}

.glider-contain {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.glider-contain h1 {
  color: white;
  margin-left: 80px;
  margin-bottom: 30px;
  margin-top: 40px;
}

.glider {
  margin: 0 auto;
  position: relative;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  z-index: 300;
}

.glider-track {
  height: 35em;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

.glider.draggable {
  padding-left: 6em;
  height: 380px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.glider.draggable .glider-slide img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.glider.drag {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.glider-slide {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: -10em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
}

.glider-slide img {
  max-width: 100%;
  -webkit-transition: 0,8s;
  transition: 0,8s;
}

.glider::-webkit-scrollbar {
  opacity: 0;
  height: 0;
}

.glider-prev,
.glider-prev2 {
  margin-left: 1em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  outline: none;
  background: none;
  padding: 0;
  z-index: 2;
  font-size: 40px;
  text-decoration: none;
  left: -23px;
  border: 0;
  top: 30%;
  cursor: pointer;
  color: white;
  opacity: 1;
  line-height: 1;
  -webkit-transition: opacity 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67), color 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67), 0.5s;
  transition: opacity 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67), color 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67), 0.5s;
  z-index: 3000;
}

.glider-next,
.glider-next2 {
  margin-right: 1em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  outline: none;
  background: none;
  padding: 0;
  z-index: 2;
  font-size: 40px;
  text-decoration: none;
  left: -23px;
  border: 0;
  top: 30%;
  cursor: pointer;
  color: white;
  opacity: 1;
  line-height: 1;
  -webkit-transition: opacity 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67), color 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67), 0.8s;
  transition: opacity 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67), color 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67), 0.8s;
  z-index: 3000;
}

.glider-prev:hover,
.glider-next:hover,
.glider-prev:focus,
.glider-next:focus {
  color: white;
}

.glider-next {
  right: -23px;
  left: auto;
}

.glider-next.disabled,
.glider-prev.disabled {
  opacity: .25;
  color: #666;
  cursor: default;
}

.glider-prev2:hover,
.glider-next2:hover,
.glider-prev2:focus,
.glider-next2:focus {
  color: white;
}

.glider-next2 {
  right: -23px;
  left: auto;
}

.glider-next2.disabled,
.glider-prev2.disabled {
  opacity: .25;
  color: #666;
  cursor: default;
}

.glider-slide {
  min-width: 150px;
}

.glider-hide {
  opacity: 0;
}

.glider-dots,
.glider-dots2 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 10px;
  z-index: 100;
  cursor: pointer;
}

.glider-dot,
.glider-dot2 {
  background: none;
  border: 0;
  padding: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
  display: block;
  cursor: pointer;
  color: #ccc;
  border-radius: 999px;
  background: #ccc;
  width: 12px;
  height: 12px;
  margin: 7px;
  z-index: 800;
}

.glider-dot:hover,
.glider-dot:focus,
.glider-dot.active {
  background: #a89cc8;
}

.glider-dot2:hover,
.glider-dot2:focus,
.glider-dot2.active {
  background: #a89cc8;
}

@media (max-width: 36em) {
  .glider::-webkit-scrollbar {
    opacity: 1;
    -webkit-appearance: none;
    width: 7px;
    height: 3px;
  }
  .glider::-webkit-scrollbar-thumb {
    opacity: 1;
    border-radius: 99px;
    background-color: rgba(156, 156, 156, 0.25);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.25);
            box-shadow: 0 0 1px rgba(255, 255, 255, 0.25);
  }
  .glider2::-webkit-scrollbar {
    opacity: 1;
    -webkit-appearance: none;
    width: 7px;
    height: 3px;
  }
  .glider2::-webkit-scrollbar-thumb {
    opacity: 1;
    border-radius: 99px;
    background-color: rgba(156, 156, 156, 0.25);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.25);
            box-shadow: 0 0 1px rgba(255, 255, 255, 0.25);
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  overflow: auto;
}
/*# sourceMappingURL=main.css.map */