.header {
    height: 50px;
    background: $menuColor;
    padding: 0 20px;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.content {
    display: flex; 
    margin-left: 18rem;
    color: white;
    overflow: hidden;
}

