@import "./variables";
@import "./components";
@import "./layouts";
@import "./register";

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../image/image3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.wrapper {
    height: 100%;
    background: rgba(255,255,255,0.3);
}

