h2 {
    color: white;
    margin-left: 3rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
}


.event-name {
    font-size: 20px;
    color: white;
}

.heart {
    background-color: black;
    cursor: pointer;
    border: none;
    margin-top: -20px;
    margin-left: 17rem;
    &:focus {
        outline: none;
    }
}


.event-date {
    font-size: 18px;
    color: #FD8700;
}

.card-info {
    color: white;
    font-size: 18px;
}

.save-mark {
    display: flex;
}













