@mixin button-decoration {
    color: white;
    margin-top: 10px;
    border-radius: 30px;
    height: 40px;
    font-size: 15px;
    border:0;
    cursor: pointer;
}

@mixin select {
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 26px;
    border: none;
    font-size: 15px;
}


@mixin select-effect {
    background-color: white;
    background: none;
    color: rgb(51, 51, 51);
    font-size: 15px;
    height: 30px;
    width: 40%;
    border: none;
    background-color: white;
    cursor: pointer;
}

.profile {
    margin-top: 3rem;
    img {
        width: 330px;
        object-fit: cover;
    }
}

label {
    color: $editBtn;
}



/*.userinfo {
    display: flex;
    border-bottom: 0.2px solid rgb(61, 61, 61);
}


.change {
    @include button-decoration();
    background-color: $editBtn;
    width: 75px;
    height: 30px;
    float: right;
    margin-right: 50px;
    font-size: 18px;
    &:focus {
        outline: none;
    }
}

.information {
    
    margin-top: 3rem;
    margin-left: 130px;
    font-size: 18px;
    input {
        color: white;
        font-size: 18px;
        letter-spacing: 1px;
        border: none;
        width: 30rem;
        height: 30px;
        margin-top: 10px;
        margin-left: 30px;
        background-color: black;
        border-bottom: 1px solid white;
        &:focus {
            outline: none;
        }
    }
    textarea {
        background-color: black;
        color: white;
        font-size: 16px;
        letter-spacing: 1px;
        margin-top: 30px;
        margin-left: 30px;
        &:focus {
            outline: none;
        }
    }
}


.genre {
    @include select();
    select {
        @include select-effect();
    }
}



.save {
    input{
        background-color: $saveBtn;
        color: white;
        border: none;
        border-radius: 30px;
        font-size: 15px;
        height: 30px;
        width: 75px;
        float: right;
        margin-top: 30px;
        &:focus {
            outline: none;
        }
    }
   
}
*/
@mixin button-decoration-add {
    color: white;
    border-radius: 30px;
    font-size: 15px;
    border:0;
    cursor: pointer;
    width: 70px;
    height: 30px;
    border: 1px solid rgb(128, 126, 126);
    margin-bottom: 20px;
}


table {
    margin-top: 50px;
    margin-bottom: 3rem;
    width: 70%;
    background-color: rgb(31, 30, 30);
    color: white;
    border: 0.1px solid rgb(128, 126, 126);
    thead {
        font-size: 22px;
    }
    tbody {
        font-size: 22px;
        text-align: center;
    }
    
}

.add-btn {
    @include button-decoration-add();
    background-color: $saveBtn;
    margin-left: 57rem;
    
    &:focus {
        outline: none;
    }
}

.edit-btn {
    @include button-decoration-add();
    background-color: $editBtn;
    &:focus {
        outline: none;
    }
}



.buttons {
    text-align: center;
    margin-top: 50px;
    padding: 40px;
    border-radius: 10px;
    margin-left: 5rem;
    background: rgb(31, 30, 30);
    height: 8rem;
    width: 10rem;
    border: 1px solid rgb(128, 126, 126);
}






