.header {
    height: 50px;
    margin-bottom: 50px;
    background: $menuColor;
    padding: 0 20px;
    color: white;
    position: sticky;
    top: 0;
}

.login-form {
    background: rgba(0,0,0,0.8);
    max-width: 420px;
    height: 77%;
    margin: 0 auto;
    padding-top: 60px;
    border-radius: 30px;
    box-sizing: border-box;
}