@charset "UTF-8";
.logo {
  line-height: 50px;
  float: left;
  text-transform: uppercase;
}

.menu {
  float: right;
  line-height: 50px;
}

.menu a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.show-menu-btn, .hide-menu-btn {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.show-menu-btn {
  float: right;
}

.show-menu-btn i {
  line-height: 50px;
}

.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
  color: grey;
}

.paragrah {
  height: 50%;
  width: 30%;
  color: white;
  margin-left: 5em;
  margin-top: 7em;
  margin-bottom: 20em;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: justify;
}

#chk {
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

/*.content {
    padding: o 20px;

    img {
    width: 100%;
    max-width: 700px;
    margin: 20px 0;
    }
}*/
@media screen and (max-width: 800px) {
  .show-menu-btn, .hide-menu-btn {
    display: block;
  }
  .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    /*background: linear-gradient(to bottom right, #F9A4A4, #B225F8, #C00A90);*/
    background: rgba(0, 0, 0, 0.9);
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    -webkit-transition: 0.7s;
    transition: 0.7s;
  }
  .menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* 子要素をflexboxにより縦方向に揃える */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* 子要素をflexboxにより中央に配置する */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* 子要素をflexboxにより中央に配置する*/
  }
  .menu a {
    display: block;
    padding: 20px;
  }
  .hide-menu-btn {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #chk:checked ~ .menu {
    right: 0;
  }
}

.header {
  height: 50px;
  margin-bottom: 50px;
  background: #2D2524;
  padding: 0 20px;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.login-form {
  background: rgba(0, 0, 0, 0.8);
  max-width: 420px;
  height: 77%;
  margin: 0 auto;
  padding-top: 60px;
  border-radius: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.email {
  text-align: center;
  color: white;
  margin-bottom: 15px;
}

.email p {
  font-size: 15px;
  margin-right: 17rem;
  margin-bottom: 1rem;
  margin-top: -3rem;
}

.email input {
  font-size: 100%;
  padding: 2px;
  border-radius: 30px;
  width: 78%;
  height: 26px;
  padding: 3px;
}

.email input:focus {
  outline: none;
}

.password {
  text-align: center;
  color: white;
  margin-bottom: 15px;
}

.password p {
  font-size: 15px;
  margin-right: 15rem;
  margin-bottom: 1rem;
}

.password input {
  font-size: 100%;
  padding: 2px;
  border-radius: 30px;
  width: 78%;
  height: 26px;
  padding: 3px;
}

.password input:focus {
  outline: none;
}

.facebook {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  width: 68%;
  height: 27px;
  padding: 3px;
  margin-bottom: 15px;
  margin-left: 70px;
  border: 0;
  cursor: pointer;
  background-color: #3B5998;
  color: white;
  margin-top: 45px;
}

.facebook:focus {
  outline: none;
}

.google {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  width: 68%;
  height: 27px;
  padding: 3px;
  margin-bottom: 15px;
  margin-left: 70px;
  border: 0;
  cursor: pointer;
  background-color: white;
  z-index: -1000;
}

.google:focus {
  outline: none;
}

.register {
  margin-left: 12rem;
  margin-right: 10px;
  background-color: #7206F7;
  color: white;
  margin-top: 10px;
  border-radius: 30px;
  width: 85px;
  height: 40px;
  font-size: 15px;
  border: 0;
  cursor: pointer;
}

.register:focus {
  outline: none;
  width: 86px;
  height: 41px;
}

.login {
  background-color: #F70661;
  color: white;
  margin-top: 10px;
  border-radius: 30px;
  width: 85px;
  height: 40px;
  font-size: 15px;
  border: 0;
  cursor: pointer;
}

.login:focus {
  outline: none;
  width: 86px;
  height: 41px;
}

.account-link {
  margin-top: 30px;
  text-align: center;
  cursor: pointer;
}

.account-link a {
  text-decoration: none;
  color: white;
  font-size: 11px;
  border-bottom: solid white 1px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../image/image3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.wrapper {
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
}
/*# sourceMappingURL=main.css.map */