@mixin form {
    text-align: center;
    color: white;
    margin-bottom: 15px;
}

@mixin input {
    font-size: 100%;
    padding: 2px;
    border-radius: 30px;
    width: 78%;
    height: 26px;
    padding: 3px;
}

@mixin button-decoration {
    margin-top: 10px;
    border-radius: 30px;
    width: 85px;
    height: 40px;
    font-size: 15px;
    border:0;
    cursor: pointer;
}

.email {
    @include form();
    p {
        font-size: 15px;
        margin-right: 17rem;
        margin-bottom: 1rem;
        margin-top: -3rem;
    }
    input {
        @include input();
        &:focus {
            outline: none;
        }
    }
}

.password {
    @include form();
    p {
        font-size: 15px;
        margin-right: 15rem;
        margin-bottom: 1rem;
    }
    input {
        @include input();
        &:focus {
            outline: none;
        }
    }
}



.register {
    margin-left: 12rem;
    margin-right: 10px;
    background-color: $seemoreBtn;
    color: white;
    @include button-decoration();
    &:focus {
        outline: none;
        width: 86px;
        height: 41px;
    }
}

.login {
    background-color: $saveBtn;
    color: white;
    @include button-decoration();
    &:focus {
        outline: none;
        width: 86px;
        height: 41px;
    }

}